*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: #010a4b;
    backdrop-filter: blur;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 28px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: #FFFF66;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.05);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
}
.navbar a:hover,
.navbar a.active{
    color: #FFFF66;
    border-bottom: 3px solid #FFFF66;
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: #ADD8E6;
    box-shadow: 0 0 25px #ADD8E6;
}